@font-face {
  font-family: "Moderat Regular";
  src: url("../assets/fonts/Moderat-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Moderat Medium";
  src: url("../assets/fonts/Moderat-Medium.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Moderat Bold";
  src: url("../assets/fonts/Moderat-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

