@import "src/styles/responsive";

.page {
  h1 {
    font-size: 24px;
  }

  .info {
    padding: 20px;
    background-color: var(--color-table-row-active);

    h4 {
      font-size: 16px;
      margin-bottom: 12px;
    }
  }

  .desc {
    font-size: 14px;
    color: var(--font-color);
    margin-bottom: 12px;
  }
}

.form-items {
  margin-right: 20px;
  margin-top: 10px;
}

.loader-wrapper {
  min-height: 500px;
}

::ng-deep .ff-dropdown-container.active {
  background-color: var(--color-white) !important;
}

::ng-deep .ff-dropdown-container {
  width: 165px !important;
}

.dropdowns {
  display: flex;
  flex-wrap: wrap;

  @include devices(tablet-md) {
    flex-wrap: nowrap;
  }
}

.info-text {
  color: #5691AE;
  font-size: 14px;
  font-weight: 400;
  padding: 15px;
}

.info-container {
  border-bottom: 1px solid var(--border-color);
  min-height: 50px;
}

.btn-container {
  padding: 10px;
}

.hide-modal {
  color: var(--color-secondary);
  font-weight: 400;
  size: 16px;
  padding-left: 5px;
}

.dialog-container {
  width: 450px;
  background: var(--color-white);
  border-radius: 6px;
  box-shadow: 4px 10px 17px #c6c6c6;
}

.tooltip-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 3px;
  top: 51px;
  z-index: 499;
}


/* Tooltip styling */
.tooltip {
  position: absolute;
  bottom: -50px;
  /* Adjust based on your need */
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #5691AE;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 1000;
}

.tooltip::before {
  content: '';
  position: absolute;
  top: -8px;
  /* Arrow position */
  left: 50%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}

.toggle-checkbox:checked+.toggle-label+.tooltip {
  display: none;
  /* Hide tooltip on checkbox check if needed */
}

.arrow {
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--color-white);
  position: relative;
  top: 0px;
  left: 112px;
}

.loader-container {
  min-height: 600px;
}


.toggle-container {
  display: inline-block;
  position: relative;
  height: 29px;
  width: 200px;
  padding: 5px;
  margin-left: 10px;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  color: #5691AE;
  padding: 5px;
  border-radius: 7px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-text {
  flex: 1;
  /* Equal width for both items */
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 8px 0;
  border-radius: 7px;
  /* Add padding to both */
}

.toggle-checkbox:checked+.toggle-label,
.toggle-checkbox:not(:checked)+.toggle-label {
  color: #5691AE;
  background-color: var(--color-white);
}

.toggle-checkbox:checked+.toggle-label .toggle-text:first-child {
  color: var(--color-white);
  background-color: var(--color-sidebar-light);
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-checkbox:not(:checked)+.toggle-label .toggle-text:last-child {
  color: var(--color-white);
  background-color: var(--color-sidebar-light);
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.export {
  font-size: 14px;
  color: var(--font-color);
  font-family: var(--font-bold);
}

.export img {
  margin-right: 10px;
  width: 15px;
}

.farmer-data {
  padding: 0px 10px;
  border-right: 2px solid;
  margin-right: 10px;
  font-size: 14px;
  color: #5691AE;;
}

.farmer-count{
  font-weight: 700;
}